@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400|Pacifico";

.smaller-text {
	font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
.ghost-link {
	color: #3f3931;
	text-decoration: none;
	margin-right: 12px;
}
#kidsHikesMap, #forestPresMap {
	color: #3f3931;
	text-decoration: none;
	margin-right: 12px;
	text-align: center;
}
.hikes-text-info {
	margin-bottom: 14px;
}
.dates {
	color: #3f3931;
}
/* Map */
#map {
    height: 120px;
	padding: 116px;
    border: 2px solid #6d7973;
	border-radius: 20px;
}

/* Map text */
.forest-preserve {
	text-align: center;
	color: #3f3931;
	font-size: 20px;
	font-family: "Montserrat", sans-serif;
}
.forest-preserve-sub {
	color: #3f3931;
	font-size: 14px;
	padding: 5px 0px 10px 0px;
	font-family: "Montserrat", sans-serif;
	text-align: center;
}

/* Top Kids Hike Section */
.trail-sub-text {
	font-size: 12px;
}

/* Section Headers */
.subsets {
	background-color: #6d7973;
	border-radius: 4px;
	border: 0;
	color: #ffffff;
	font-family: "Montserrat", sans-serif;
	height: 3.5em;
	line-height: 3.5em;
	padding: 0 3.5em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	text-transform: uppercase;
}
.subset-text {
	color: #3f3931;
	font-size: 18px;
	font-weight: bold;
	padding: 20px 0px 15px 0px;
	text-align: center;
	font-family: "Montserrat", sans-serif;
}
.hikes-text {
	color: #3f3931;
	font-size: 18px;
}

/* RSVP FORM */
#contact-form .container-form form input,
#contact-form .container-form form textarea {
	width:75%;
	height:30px;
	padding: 5px 10px;
	margin: 0px 30px;
	font-size: 12px;
	color:#3f3931;
	letter-spacing:1px;
	background: #FFF;
	border:2px solid #b2b2a2;
	margin-bottom:25px;
  
}
#contact-form .container-form form input:focus,
#contact-form .container-form form textarea:focus {
	border:2px solid #3f3931;
	color:#3f3931;
}
#contact-form .container-form form .submit:hover {
	cursor:pointer;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

/* Three text Boxes */
.inner {
	margin: 0 auto;
	max-width: 75em;
}
@media screen and (max-width: 1280px) {
    .inner {
	max-width: 90%;
}
}
@media screen and (max-width: 980px) {
    .inner {
	max-width: 70%;
}
}
@media screen and (max-width: 736px) {
	.inner {
	max-width: 85%;
}
}

/* Text in three boxes */
body, input, select, textarea {
	color: #767d85;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: 300;
	line-height: 1.65;
}

/* The three boxes */
.box {
	margin-bottom: 2em;
	overflow-y: scroll;
	height:450px;	

}

.box .content {
	padding: 1.5em;
	color: #697973;
	text-align: center;
	
}

/* List */
ul.actions li {
	display: block;
	text-align: center;
	width: 100%;
}

/* Button */
input[type="submit"],
button,
.submit-button {
	font-size: 12px;
	background-color: #6d7973;
	border-radius: 4px;
	border: 0;
	color: #ffffff;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	height: 3.5em;
	line-height: 3.5em;
	padding: 0 3.5em;
	margin: 5px 0px 27px 0px;
	text-align: center;
	text-transform: uppercase;
	float: none;
    display: inline-block;
    position: relative;
    left: 30%;
}

/* Flex */
.flex {
	display: flex;
	-ms-justify-content: space-between;
	justify-content: space-between;
	-moz-align-items: stretch;
	-webkit-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;
}
.flex.flex-3 .flex-item {
	-ms-flex: 0 1 auto;
	-ms-flex-preferred-size: 30%;
	-moz-flex-basis: 30%;
	-webkit-flex-basis: 30%;
	-ms-flex-basis: 30%;
	flex-basis: 30%;
}

@media screen and (max-width: 980px) {
.flex {
	-ms-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flex.flex-3 .flex-item {
	-ms-flex-preferred-size: 100%;
	-moz-flex-basis: 100%;
	-webkit-flex-basis: 100%;
	-ms-flex-basis: 100%;
	flex-basis: 100%;
}
.flex.flex-3 .flex-item.left {
	text-align: right;
}
}

/* Wrapper */
.wrapper {
	padding: 2em 0 4em 0;
	background-color: #e5dace;
}

/* Header */

#header {
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	background: #fff;
	cursor: default;
	left: 0;
	top: 0;
	width: 100%;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
	text-align: center;
	background-color: #b2b2a2;
	color: #3f3931;
}

#header .logo {
	color: #3f3931;
	font-family: "Pacifico", cursive;
	font-size: 2.5em;
	letter-spacing: 2px;
	padding: 15px 0px 0px 0px;
	text-decoration: none;
	text-align: center;
}

#footer .logo {
	color: #3f3931;
	font-family: "Pacifico", cursive;
	font-size: 1.5em;
	letter-spacing: 2px;
	padding: 15px 0px 0px 0px;
	text-decoration: none;
	text-align: center;
}

.sub-header {
	color: #3f3931;
	font-family: "Montserrat", sans-serif;
	font-size:18px;
	text-align: center;
	padding-bottom: 8px;
}
@media screen and (max-width: 1280px) {
    .sub-header {
	max-width: 90%;
}
}
@media screen and (max-width: 980px) {
    .sub-header {
	max-width: 70%;
}
}
@media screen and (max-width: 736px) {
	.sub-header {
	max-width: 85%;
}
}

/* Footer */
#footer {
	padding: .25em 0 2em 0;
	text-align: center;
	color: #3f3931;
	background-color: #b2b2a2;
}
#footer .icon {
	color: #3f3931;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

